.git/
node_modules/
__pycache__/
.DS_Store

/.devcontainer
/api
/dist

/Dockerfile
/.gitignore
/.dockerignore

.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?